@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lobster&display=swap');

.weather {
    margin-top: 10px;
}

.imgBtn {
    margin-bottom: -20px;
}

.cityImageDetail {
    text-align: right;
    position: relative;
    bottom: 12rem;
    text-align: left;
    margin: 0 30px;
    color: blanchedalmond;
    font-size: 1.5rem;

}
.pageColor{
    opacity:0.5
}
.imgClass {
    margin-top: 10px;
    border-radius: 5px;
}

.ImageCity {
    height: 50px;
    width: 100%;
}

.imgWeather {
    position: relative;
    bottom: 23rem;
    margin: 0 90%;
    color: yellow;
    font-size: 3rem;
    font-family: 'Lobster', cursive;
}

.imgAbsolute {
    position: relative;
    bottom: 13rem;
    margin: 0 5rem;
    color: white;
    font-size: 5rem;
    font-family: 'Lobster', cursive;
}

.bodyColor {
    background-color: blanchedalmond;
}

.titleCity {
    font-size: 3rem;
}

#divr {
    width: 100%;
}

.CardArea {
    margin-top: 10px;
}

@media screen and (max-width:768px) {

    .imgAbsolute {
        position: inherit;
        bottom: inherit;
        margin: 0.25rem 0px;
        color: inherit;
        font-size: inherit;
    }
}